:root {
  --color-heading: #101954;
  --color-paragraph: #333;
  --color-button: #e46027;
}

.swiper-button-prev,
.swiper-button-next {
  height: 20px;
  width: 20px;
}

.font-heading {
  font-family: "Montserrat", sans-serif;
  /* color: var(--color-heading); */
}

.font-body {
  font-family: "Poppins", sans-serif;
  /* color: var(--color-paragraph); */
}
.font-button {
  font-family: "Poppins", sans-serif;
  /* color: var(--color-button); */
}
